.location {
  display: flex;
}
.language {
  padding-right: 20px;
}

.filter{
  padding-left: 50px;
  padding-top: 4px;
  /* display: flex; */
  flex: 50%;
  justify-content: flex-start;
}

.filter button{
  margin-right: 5px;
  background: #FFFFFF;
  border: 1px solid #E9E9EE;
  border-radius: 26px;

  padding-left: 15px;
  padding-right: 15px;

}