// Variables
$headerHeight: 70px;

$borderRadius: 15px;

$fontSizeTitle: 1.6rem;

$paddingBar: 20px;

$colorPrimary: #4a61c2;
$colorGrayForBackground: #eae9ee;
$colorGray: #696888;
$colorFeminine: #f26465;

$borderLight: 0.1px solid lightgray;

$inputBoxBackground: #e9e9ee; // soap
$soap: $inputBoxBackground;
$inputBoxPadding: 18px;
